<div class="container" style="margin-top: 5%;">
    <div class="col-md-6 col-md-offset-3">

        <!-- Search Form -->
        <%= form_tag assignments_search_path, method: :get do  %>
        
        <!-- Search Field -->
            <div class="row">
                <h1 class="text-center">Search Tags</h1>
                <div class="form-group">
                    <div class="input-group col-md-offset-2">
                     <%= radio_button_tag 'type', 'any', checked: true %> Any
                        <%= radio_button_tag 'type', 'match-all' %> Match All

                        
                        <%= select_tag "tags", options_from_collection_for_select(ActsAsTaggableOn::Tag.order('name'), "name", "name"), multiple: true, class: "form-control" 
 %>
 
                  </div>
                </div>
            </div>
            
       <% end %>
        <!-- End of Search Form -->
        <%= render 'table' %>
    </div>
</div>

<script>
$('#tags').chosen();
$('#tags').on('change', function(){
    var type = $('#type_any').is(":checked") ? "any" : "match_all";
    console.log('/assignments/search.js?tags=' + $('#tags').val() + '&type=' + type);
   $.ajax({url: '/assignments/search_ajax?tags=' + $('#tags').val() + '&type=' + type}, function(response){
        console.log(response);
   });
});
</script>