<%= form_for(@student_source) do |f| %>
  <% if @student_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_source.errors.count, "error") %> prohibited this student_source from being saved:</h2>

      <ul>
      <% @student_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %> or <%= link_to 'Back', student_sources_path %>
  </div>
<% end %>
