<div class="col-md-8">
  <div class="page-header">
    <h2><%= @student.name %></h2>
  </div>

      <script>
        $(document).ready(function() {
          $('#calendar').fullCalendar({
            header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            //defaultDate: "<%# @activities.activity_datetime.strftime('%Y-%m-%d')%>",
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            
            events: [
              
              <% @activities.each do |activity| %>
             {
               title: "<%= activity.activity_type.try(:name) %>",
               start: "<%= activity.activity_datetime.to_time.iso8601 %>",
               //end: "<%# tracker.end_datetime.to_time.iso8601 %>",
               url: '<%= "/activities/#{activity.id}"%>', 
               <% if activity.activity_datetime < Date.today && activity.is_completed == false %>
                   color: 'red'
               <% elsif activity.is_completed == true %>
                  color: 'green'
                <% else %>
                  color: 'blue'
               <% end %>
              },
              <% end %>

            ],

              
          });
          
        });

       </script>
        <div id='calendar'>

        </div>
 
    <% if @student.student_notes.blank? %>
       No note created about the student. Add your first note now
      <% else %>
      <% @student.student_notes.order('created_at DESC').each do |note| %>
      <div class="media">
      <div class="media-body">
        <h4 class="media-heading"> <%= note.created_at.strftime("%a %d %b, %Y") %> </h4>
        <%= note.note.html_safe %><br/>
         
       <div class="pull-right"> 
         <small><%= link_to 'Edit', edit_student_note_path(note) %> | <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></small> 
        </div>

        </div>
    </div>
          <% end %>
       <% end %>
</div>

<div class="col-md-4">
  <div class="page-header">
    <h2>Add notes</h2>
  </div>
    <%= form_for(@student_note) do |f| %>
  <% if @student_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_note.errors.count, "error") %> prohibited this student_note from being saved:</h2>

      <ul>
      <% @student_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note, class: "form-control" %>
  </div>
  <%= f.hidden_field :student_id, value: @student.id %>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>
  
  <div class="page-header">
    <h3>Personal details</h3>
  </div>
  <p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @student.mobile %>
</p>

<p>
  <strong>About:</strong>
  <%= @student.about %>
</p>

<p>
  <strong>Learning Preference:</strong>
  <%= @student.learning_style %>
</p>

<p>
  <strong>Student source:</strong>
  <%= @student.student_source.name %>
</p>

<p>
  <strong>Student type:</strong>
  <%= @student.student_type %>
</p>
  
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

</div>

