<div class="col-md-8">
  <div class="page-header">
    <h2><%= @topic.name %></h2>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Chapters</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    	<% @topic.chapters.each do |chapter| %>
    		<li class="list-group-item"><%= chapter.name %></li>
    	<% end %>
    </ul>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Courses</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
	<% @topic.courses.each do |course| %>
		<li class="list-group-item"><%= course.name %></li>
	<% end %>
</ul>

  </div>
</div>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</div>