<h1>Listing company_contacts</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_contacts.each do |company_contact| %>
      <tr>
        <td><%= company_contact.company_id %></td>
        <td><%= company_contact.name %></td>
        <td><%= company_contact.email %></td>
        <td><%= company_contact.mobile %></td>
        <td><%= link_to 'Show', company_contact %></td>
        <td><%= link_to 'Edit', edit_company_contact_path(company_contact) %></td>
        <td><%= link_to 'Destroy', company_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company contact', new_company_contact_path %>
