<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_contact.company_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company_contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company_contact.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @company_contact.mobile %>
</p>

<%= link_to 'Edit', edit_company_contact_path(@company_contact) %> |
<%= link_to 'Back', company_contacts_path %>
