<%= nested_form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :state_id %><br>
    <%= f.collection_select :state_id, State.all, :id, :name, {prompt: "Select"}, { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :city_id %><br>
    <%= f.collection_select :city_id, City.all, :id, :name, {prompt: "Select"}, { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_type %><br>
    <%= f.radio_button :company_type, "1-10" %> 1 - 10 employees<br/>
    <%= f.radio_button :company_type, "10-20" %> 10 - 20 employees<br/>
    <%= f.radio_button :company_type, "20-50" %> 20 - 50 employees<br/>
    <%= f.radio_button :company_type, "50-200" %> 50 - 200 employees<br/>
    <%= f.radio_button :company_type, "200-500" %> 200 - 500 employees<br/>
    <%= f.radio_button :company_type, "500+" %> 500+ employees<br/>
  </div>
  <div class="form-group">
    <%= f.label :company_source_id %><br>
    <%= f.collection_select :company_source_id, CompanySource.all, :id, :name, {prompt: "Select"}, { class: "form-control"} %>
  </div>

  <%= f.fields_for :company_contacts do |contact_form| %>
  <div class="form-group well">
  <h4>Contact Information</h4>
    <label>Name</label>
    <%= contact_form.text_field :name, class: "form-control" %> <br/>

    <label>Email</label>
    <%= contact_form.text_field :email, class: "form-control" %>

    <label>Mobile</label>
    <%= contact_form.text_field :mobile, class: "form-control" %>


    <%= contact_form.link_to_remove "Remove this Contact" %>
  </div>
<% end %>
<p><%= f.link_to_add "Add a contact", :company_contacts %></p>

  
 <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %> or <%= link_to 'Back', companies_path %>
  </div>
<% end %>
