<%= link_to 'New Company', new_company_path, class: "btn btn-primary pull-right" %>

<div class="col-md-12">
  <div class="page-header">
    <h2>Listing Companies</h2>
  </div>  

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th>Company type</th>
      <th>Company source</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.description %></td>
        <td><%= company.address %></td>
        <td><%= company.website %></td>
        <td><%= company.company_type %></td>
        <td><%= company.company_source.try(:name) %></td>
        <td><%= company.city.try(:name) %></td>
        <td><%= link_to 'Show', company %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
