<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Company type:</strong>
  <%= @company.company_type %>
</p>

<p>
  <strong>Company source:</strong>
  <%= @company.company_source_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city.name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
