

<% @batch_years.each do |year,batches| %>

<div class="page-header">
	<h2><%= year.year %></h2>
</div>
<div class="row">
<div class="col-md-4">
<% students = 0 %>
<% max_batch_size = batches.first.students.size %>
<% min_batch_size = batches.first.students.size %>
<% total_income = 0 %>

	<% batches.each do |batch| %>
		<% students += batch.students.size
			 total_income += batch.payments.sum(:payment_amount) 
		 %>

		<% if batch.students.size > max_batch_size 
				max_batch_size = batch.students.size 
		end %>

		<% if batch.students.size < min_batch_size 
			min_batch_size = batch.students.size 
			end %>

	<% end %>

	<b>

	 Total Batches : <%= batches.size %><br/>
	 Total Students : <%= students %> <br/>
	 Total Amount : INR <%= total_income %><br/>
	 Maximum Batch Size : <%= max_batch_size %><br/>
	 Minimum Batch Size : <%= min_batch_size %><br/>
	 Average Batch Size : <%= (students/batches.size).round %></b>

</div>

<div class="col-md-8">
<% batches.each do |batch| %>
	<div class="col-md-6">
		<div class="well">
			<b><%= link_to batch.title, batch_path(batch.id), target: "_blank" %></b><br/>
			<b>Start date</b> : <%= batch.start_date %><br/>
			<b>Students enrolled</b> : <%= batch.students.size %><br/>
			<b>Income</b> : INR <%= batch.payments.sum(:payment_amount) %><br/>
		</div>
	</div>
<% end %>
</div>
</div>



<% end %>

