<div class="row">
	<% data = {} 
		total = 0
		@payments_by_month_2015.each do |month,payments|
			income = 0
			payments.each {|payment| income += payment.payment_amount}
			data[month.strftime("%B")] = income
			total += income
		end	
	%>
	
	<div class="page-header">
		<h2>Income by Month <small> INR <%= total %> in  2015</small></h2>
	</div>

	<div>
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#chart2015" aria-controls="home" role="tab" data-toggle="tab">Chart View</a></li>
	    <li role="presentation"><a href="#detail2015" aria-controls="profile" role="tab" data-toggle="tab">Detailed View</a></li>
	   </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="chart2015">
	    		<%= column_chart(data) %>
	    </div>

	    <div role="tabpanel" class="tab-pane" id="detail2015">
				<br/>
				<% @payments_by_month_2015.each do |month, payments| %>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= month %>" aria-expanded="true" aria-controls="collapseOne">
			          <%= month.strftime("%B") %>
			        </a>
			      </h4>
			    </div>
			    <div id="<%= month %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			       	<ul>
			       		<% payments.each do |payment| %>
									<li>
										<%= payment.student.name %> - INR <%= payment.payment_amount %> on <%= payment.payment_date.strftime("%A %d %B %Y") %>
									</li>
			       		<% end %>
			       	</ul>
			      </div>
			    </div>
			  </div>
			  <% end %>
  		</div>
 	 </div>
	</div>
</div>

<div class="row">
	<% data = {} 
		total = 0
		@payments_by_month_2016.each do |month,payments|
			income = 0
			payments.each {|payment| income += payment.payment_amount}
			data[month.strftime("%B")] = income
			total += income
		end	
	%>
	
	<div class="page-header">
		<h2>Income by Month <small> INR <%= total %> in  2016</small></h2>
	</div>

	<div>
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#chart2016" aria-controls="home" role="tab" data-toggle="tab">Chart View</a></li>
	    <li role="presentation"><a href="#detail2016" aria-controls="profile" role="tab" data-toggle="tab">Detailed View</a></li>
	   </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="chart2015">
	    		<%= column_chart(data) %>
	    </div>

	    <div role="tabpanel" class="tab-pane" id="detail2015">
				<br/>
				<% @payments_by_month_2016.each do |month, payments| %>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= month %>" aria-expanded="true" aria-controls="collapseOne">
			          <%= month.strftime("%B") %>
			        </a>
			      </h4>
			    </div>
			    <div id="<%= month %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			       	<ul>
			       		<% payments.each do |payment| %>
									<li>
										<%= payment.student.name %> - INR <%= payment.payment_amount %> on <%= payment.payment_date.strftime("%A %d %B %Y") %>
									</li>
			       		<% end %>
			       	</ul>
			      </div>
			    </div>
			  </div>
			  <% end %>
  		</div>
 	 </div>
	</div>
</div>