<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="form-group">
   <%= f.label :course %><br>
   <%= f.collection_select :course_id, Course.all, :id, :name, {prompt: "Select"}, {class: "form-control"} %>
  </div>
  
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  
  <div class="form-group">
    <%= f.label :instruction_type %><br/>
    <%= f.radio_button :instruction_type, "online" %> Online 
    <%= f.radio_button :instruction_type, "class_room" %> Classroom
  </div>
  
  <div class="form-group">
  <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control" %>
  </div>

 <div class="form-group">
    
  <label>Select Student</label><br/>
   <%# f.collection_check_boxes :student_ids, current_user.students.where('student_type = ?', 'enrolled'), :id, :name do |b| %>
        
        <%#= b.check_box %> <%#= b.label %><br/>
   <%# end %>

   <script>
   $(document).ready(function(){
    $("#batch_student_ids").chosen();
   })
   </script>

   <%= f.select :student_ids, Student.where('student_type = ?', 'enrolled').pluck(:name, :id), {}, {:multiple => true, :class => "chosen-select", :style => "width:450px;" } %>

</div>

  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %> or <%= link_to 'Back', batches_path %>
  </div>
<% end %>
