<%= link_to 'New Batch', new_batch_path, class: "btn btn-primary pull-left" %>

<div class="col-md-12">
  <div class="page-header">
    <h2>On Going batches</h2>
  </div>  

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>hours - sessions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.where('status = ?', true).order('start_date DESC').each do |batch| %>
      <tr>
        <td><%= batch.course.name if !batch.course_id.nil? %></td>
        <td><%= batch.title %></td>
        <td><%= batch.start_date %></td>
        <td><%= batch.end_date %></td>
        <% total_time = 0 %>
        <% batch.trackers.each do |tracker| %> 
        <% total_time +=  ((tracker.end_datetime - tracker.start_datetime) / 60 / 60).to_f %>
       
        <% end %>
        <td><%= total_time %> - <%= Tracker.where('batch_id = ?', batch.id).count %></td>
        <td><%= link_to 'Show', batch %></td>
        <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="col-md-12">
  <div class="page-header">
    <h2>Completed batches</h2>
  </div>  

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>hours - sessions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batches.where('status = ?', false).order('start_date DESC').each do |batch| %>
      <tr>
        <td><%= batch.course.name if !batch.course_id.nil? %></td>
        <td><%= batch.title %></td>
        <td><%= batch.start_date %></td>
        <td><%= batch.end_date %></td>
        <% total_time = 0 %>
        <% batch.trackers.each do |tracker| %> 
        <% total_time +=  ((tracker.end_datetime - tracker.start_datetime) / 60 / 60).to_f %>
       
        <% end %>
        <td><%= total_time %> - <%= Tracker.where('batch_id = ?', batch.id).count %></td>
        <td><%= link_to 'Show', batch %></td>
        <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>