<script type="text/javascript">
        $(function() {
          
        $('.showhide').click(function() {
        $(".slidediv").slideToggle();
          });
        });

      </script>
     <a href="#" class="showhide btn btn-primary">Tracker Chart</a>

<div class="row">
  <div class="col-md-12">
     <div class="slidediv" style="width:100%">
      <% data = {} %>
      <% @batch.trackers.order('start_datetime DESC').each do |tracker| %>
        <% data[:"#{tracker.start_datetime}"] =  ((tracker.end_datetime - tracker.start_datetime) / 60 / 60).to_f %> 
      <% end %>

      <%= line_chart(data) %> 
  </div>

  </div>
</div>

<div class="row">
<div class="col-md-7">
  <div class="page-header">
    <h2><%= @batch.title %></h2>
     <span class="label label-default"> <%= @batch.status? ? "on going" : "completed" %></span>
    <% if !@batch.course_id.nil? %>
    <span class="label label-primary"> <%= @batch.course.name %></span>
    <% end %>
  </div>
  
  
  <%= form_for(@message) do |f| %>

  <div class="form-group">
    <%= f.text_area :body, class: "form-control", placeholder: "Send message to the batch students" %>
  </div>
  <%= f.hidden_field :batch_id, value: @batch.id %>
  <div class="actions">
    <%= f.submit "Send", class: "btn btn-default" %>
  </div>
<% end %>
  <br/>
  
  <div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tracker</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#fees" aria-controls="messages" role="tab" data-toggle="tab">Fees</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      
      
      
      
      
      <div class="clearfix"></div>
      <br/>
      
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal">
  View Calendar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Calendar</h4>
      </div>
      <div class="modal-body">
        
        
        <script>
  $(document).ready(function() {
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: "<%= @batch.start_date.strftime('%Y-%m-%d')%>",
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			events: [
				
        <% @batch.trackers.each do |tracker| %>
       {
         title: "<%= tracker.description %>",
         start: "<%= tracker.start_datetime.to_time.iso8601 %>",
         end: "<%= tracker.end_datetime.to_time.iso8601 %>",
        },
        <% end %>
			]
        
		});
		
	});

</script>
	<div id='calendar'>

  </div>
        
        
      </div>
    
    </div>
  </div>
</div>
      <% total_time = 0 %>
  <% @batch.trackers.order('start_datetime DESC').each do |tracker| %>
  <div class="media">
  <div class="media-body">
    <h4 class="media-heading"> <%= tracker.start_datetime.strftime("%a %d %b, %Y") %> </h4>
    <%= tracker.description %><br/>
     <span class="label label-info"> <%= tracker.start_datetime.strftime("%H-%M") %> to <%= tracker.end_datetime.strftime("%H-%M") %> <strong> (Total:</strong> <%= ((tracker.end_datetime - tracker.start_datetime) / 60 / 60).to_f %> hrs)</span>
   <div class="pull-right"> 
     <small><%= link_to 'Edit', edit_tracker_path(tracker) %> | <%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></small> 
     <% total_time +=  ((tracker.end_datetime - tracker.start_datetime) / 60 / 60).to_f %>
    </div>

    </div>
</div>
  <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class="clearfix"> </div>
      <% @batch.messages.order('created_at DESC').each do |msg| %> 
    <div class="media">
  <div class="media-body">
    <h4 class="media-heading"> <%= msg.created_at.strftime("%a %d %b, %Y") %> </h4>
    <%= msg.body %><br/>
     
   <div class="pull-right"> 
     <small><%= link_to 'Edit', edit_message_path(msg) %> | <%= link_to 'Destroy', msg, method: :delete, data: { confirm: 'Are you sure?' } %></small> 
    </div>

    </div>
</div>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="fees">
      <br/>
      
      
      <strong>Total Fees:</strong>
      <%= StudentBatch.where('batch_id = ?', @batch.id).sum(:course_fee) %>
      <br/>
     
      
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @batch.payments.order('payment_date DESC').each do |payment| %>
      <tr>
        <td><%= payment.student.name %></td>
        <td><%= payment.payment_date.strftime("%b %d, %Y") %></td>
        <td><%= payment.payment_type %></td>
        <td><%= payment.payment_amount %></td>
        <td><%= payment.payment_details %></td>
        <td><%= link_to 'Show', payment %>
        <%= link_to 'Edit', edit_payment_path(payment) %>
         <%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>

</div>
  

</div>
<div class="col-md-5">
  
  
  <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tracker" aria-controls="home" role="tab" data-toggle="tab">Tracker</a></li>
    <li role="presentation"><a href="#students" aria-controls="profile" role="tab" data-toggle="tab">Students</a></li>
    <li role="presentation"><a href="#details" aria-controls="messages" role="tab" data-toggle="tab">Details</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tracker">
    <div class="page-header">
    <h4>Tracker</h4>
      <span class="label label-success">Completed <%= total_time %> hrs in <%= Tracker.where('batch_id = ?', @batch.id).count %> sessions</span>

  </div>
    <%= form_for(@tracker) do |f| %>
  <% if @tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracker.errors.count, "error") %> prohibited this tracker from being saved:</h2>

      <ul>
      <% @tracker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :batch_id, value: @batch.id %>
  <div class="field">
    <%= f.label :start_datetime %><br>
    <%= f.datetime_select :start_datetime %>
  </div>
  <div class="field">
    <%= f.label :end_datetime %><br>
    <%= f.datetime_select :end_datetime %>
  </div>
      
      <script type="text/javascript">
         $(function() {
          $('#texteditor').wysihtml5();
        });
        
     </script>
      
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control", id: "texteditor" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default"%>
  </div>
<% end %>
    
    </div>
    <div role="tabpanel" class="tab-pane" id="students">
    <div class="page-header">
      
      
    <h4>Students</h4>
      <ul class="list-group">
        <% @batch.students.each do |student| %>
        <% student_batch = StudentBatch.find_by_student_id(student.id) %> 
        <li class="list-group-item">
          
          
          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#feeDetails<%= student_batch.id %>"><%= student.name %>
        <!-- Button trigger modal -->
          
          
          <% if student_batch.course_fee.nil? %>
           <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#<%= student_batch.id %>">
            Add Course Fees
            </button>
          <% else %>
            
          <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#fee<%= student_batch.id %>">
            Pay Fees
          </button>
          <% end %>
          

<!-- Modal for Adding fees-->
<div class="modal fade" id="<%= student_batch.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= student_batch.student.name %></h4>
      </div>
      <div class="modal-body">
        <%= form_for(student_batch) do |f| %>
        <%= f.hidden_field :student_id, value: student_batch.student_id %>
        <%= f.hidden_field :batch_id, value: student_batch.batch_id %>
       <div class="form-group">
          <%= f.label :course_fee %><br>
          <%= f.text_field :course_fee, class: "form-control" %>
       </div>
   
      </div>
      <div class="modal-footer">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
          
          
          <!-- Modal for adding fee payment -->
<div class="modal fade" id="fee<%= student_batch.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= student_batch.student.name %></h4>
      </div>
      <div class="modal-body">
       <%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
        <%= f.hidden_field :batch_id, value: student_batch.batch_id %>

        <%= f.hidden_field :student_id, value: student_batch.student_id %>
        
  <div class="form-group">
    <%= f.label :payment_date %><br>
    <%= f.date_select :payment_date %>
  </div>
  <div class="form-group">
    <%= f.label :payment_type %><br>
    <%= f.select :payment_type, %w{cash cheque online}, {prompt: "Select"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :payment_amount %><br>
    <%= f.text_field :payment_amount, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :payment_details %><br>
    <%= f.text_area :payment_details, class: "form-control" %>
  </div>
   
   </div>
      <div class="modal-footer">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
        <!-- Modal for showing fee details-->
<div class="modal fade" id="feeDetails<%= student_batch.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= student_batch.student.name %></h4>
      </div>
      <div class="modal-body">
        
        <% student_fees = @batch.payments.where('student_id = ?', student_batch.student.id).order('payment_date DESC') %>
     
        
        <table class="table">
          <caption>Fees Overview</caption>
  <thead>
    <tr>
      <th>Course Fees</th>
      <th>Fees Paid</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= student_batch.course_fee %></td>
        <td><%= student_fees.sum(:payment_amount) %></td>
        <td><%= student_batch.course_fee - student_fees.sum(:payment_amount) %></td> 
      </tr>
  </tbody>
</table>
        
        
        <table class="table table-striped">
          <caption>Fee Details</caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% student_fees.each do |payment| %>
      <tr>
        <td><%= payment.payment_date.strftime("%b %d, %Y") %></td>
        <td><%= payment.payment_type %></td>
        <td><%= payment.payment_amount %></td>
        <td><%= payment.payment_details %></td>
        <td><%= link_to 'Show', payment %>
        <%= link_to 'Edit', edit_payment_path(payment) %>
         <%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
        
        
      </div>
    </div>
  </div>
</div>  
          
          
          
        
        </li>
        <% end %>
      </ul>
  </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="details">
    <div class="page-header">
    <h4>Details</h4>
  </div>
  <p>
  <strong>Start date:</strong>
    <%= @batch.start_date.strftime("%d %b, %Y") %>
  </p>
<p>
  <strong>End date:</strong>
  <%= @batch.end_date.strftime("%d %b, %Y") %>
</p>

<p>
  <strong>Instruction Type:</strong>
  <%= @batch.instruction_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @batch.description %>
</p>
  

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
    </div>
  </div>

    <div class="page-header">
      <h4>Fee Status</h4>
    </div>
    <%= pie_chart({"Received" => Payment.where('batch_id = ?', @batch.id).sum(:payment_amount), "Balance" => StudentBatch.where('batch_id = ?', @batch.id).sum(:course_fee) - Payment.where('batch_id = ?', @batch.id).sum(:payment_amount)}) %>
    
</div>
  
  </div>
    
  
</div>  
