<%= form_for(@technology) do |f| %>
  <% if @technology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@technology.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @technology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :technology_category_id %><br>
    <%= f.collection_select :technology_category_id, TechnologyCategory.all, :id, :name,{prompt: "Select State"},{ class: "form-control"} %>
  </div>



  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default" %> or <%= link_to 'Back', technology_categories_path %>
  </div>
<% end %>
