<div class="row">
  <div class="col-md-8">
    <div class="page-header">
      <h2>Listing Activities</h2>
    </div>
      
<table class="table">
  <thead>
    <tr>
      <th>Datetime</th>
      <th>Student</th>
      <th>Activity type</th>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.activity_datetime.strftime("%A, %b %d %y %H:%M") %></td>
        <td><%= activity.student.try(:name) %></td>
        <td><%= activity.activity_type.try(:name) %></td>
        <td><%= activity.title %></td>
        <td><%= truncate(activity.description, length: 25) %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>

  <div class="col-md-4">

  </div>
</div>
<br>

<%= link_to 'New Activity', new_activity_path, class: "btn btn-primary" %>
